In [1]:
import pandas as pd

In [4]:
#load ing csv file
sal=pd.read_csv('C://Users//Bhavesh//salary.csv')
sal=sal.dropna()
sal.head()

  company                  job     degree  salary_more_then_100k
1  google      sales executive  bachelors                    0.0
3  google      sales executive    masters                    0.0
5  google     business manager  bachelors                    1.0
7  google     business manager    masters                    1.0
9  google  computer programmer  bachelors                    0.0

In [5]:
input1=sal.drop('salary_more_then_100k',axis='columns')
target=sal.salary_more_then_100k

In [6]:
target

       company                  job     degree
1       google      sales executive  bachelors
3       google      sales executive    masters
5       google     business manager  bachelors
7       google     business manager    masters
9       google  computer programmer  bachelors
11      google  computer programmer    masters
13  abc pharma      sales executive    masters
15  abc pharma  computer programmer  bachelors
17  abc pharma     business manager  bachelors
19  abc pharma     business manager    masters
21    facebook      sales executive  bachelors
23    facebook      sales executive    masters
25    facebook     business manager  bachelors
27    facebook     business manager    masters
29    facebook  computer programmer  bachelors
31    facebook  computer programmer    masters

In [7]:
#ml machine understand the languge of integers so now we going to conert the company job degree into integer
#using label encoder
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [8]:
#LE for company
company_le=sal.company

In [9]:
company_le=le.fit_transform(company_le)
company_le

array([2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1])

In [10]:
#LE for job and Degree
job_le=sal.job
degree_le=sal.degree
job_le=le.fit_transform(job_le)
degree_le=le.fit_transform(degree_le)

In [12]:
degree_le

array([0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1])

In [13]:
#now creating column for every LE created
sal['company_le']=company_le
sal['job_le']=job_le
sal['degree_le']=degree_le

In [15]:
sal.head()

,company,job,degree,salary_more_then_100k,company_le,job_le,degree_le
1,google,sales executive,bachelors,0.0,2,2,0
3,google,sales executive,masters,0.0,2,2,1
5,google,business manager,bachelors,1.0,2,0,0
7,google,business manager,masters,1.0,2,0,1
9,google,computer programmer,bachelors,0.0,2,1,0

In [22]:
#now droping company job and degree for creating better model for machine
sal=sal.drop(['company','degree','job'],axis='columns')
 #it has been executed,
    #by mistake i have click the run button two time so it shows the error

KeyError: "['company' 'degree' 'job'] not found in axis"

In [25]:
#now i will be traing the classifier
input1=sal.drop('salary_more_then_100k',axis='columns')
target=sal.salary_more_then_100k
from sklearn import tree
model=tree.DecisionTreeClassifier()

In [26]:
model.fit(input1,target)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [27]:
model.predict([[2,1,0]])

array([0.])

In [30]:
model.score(input1,target)

1.0

In [75]:
#excercise for better knowledge
tit=pd.read_csv('C://Users//Bhavesh//titanic.csv')
tit.head()

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,survived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0

In [76]:
#cleaning some data from dataset
tit=tit.drop(['Passengerid','sibsp','zero','zero.1','zero.2','zero.3','zero.4','zero.5','zero.6','zero.7','zero.8'],axis='columns')

In [77]:
tit.head()

,Age,Fare,Sex,Parch,zero.9,zero.10,zero.11,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,survived
0,22.0,7.2500,0,0,0,0,0,0,0,0,3,0,0,2.0,0,0,0
1,38.0,71.2833,1,0,0,0,0,0,0,0,1,0,0,0.0,0,0,1
2,26.0,7.9250,1,0,0,0,0,0,0,0,3,0,0,2.0,0,0,1
3,35.0,53.1000,1,0,0,0,0,0,0,0,1,0,0,2.0,0,0,1
4,35.0,8.0500,0,0,0,0,0,0,0,0,3,0,0,2.0,0,0,0

In [78]:
tit=tit.drop(['zero.9','zero.10','zero.11','zero.12','zero.13','zero.14','zero.15','zero.16','zero.17','zero.18'],axis='columns')
tit.head()

    Age     Fare  Sex  Parch  Pclass  Embarked  survived
0  22.0   7.2500    0      0       3       2.0         0
1  38.0  71.2833    1      0       1       0.0         1
2  26.0   7.9250    1      0       3       2.0         1
3  35.0  53.1000    1      0       1       2.0         1
4  35.0   8.0500    0      0       3       2.0         0

In [93]:
tit=tit.drop(['Parch','Embarked'],axis='columns')
tit.head()

KeyError: "['Parch' 'Embarked'] not found in axis"

In [94]:
inputs=tit.drop(['survived'],axis='columns')
target=tit.survived

In [95]:
target.head()

0    0
1    1
2    1
3    1
4    0
Name: survived, dtype: int64

In [96]:
inputs.head()

    Age     Fare  Sex
0  22.0   7.2500    0
1  38.0  71.2833    1
2  26.0   7.9250    1
3  35.0  53.1000    1
4  35.0   8.0500    0

In [97]:
#now creating model for training
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(inputs,target,test_size=.2)

In [98]:
len(x_test)

262

In [99]:
#calling decision tree
from sklearn import tree
model=tree.DecisionTreeClassifier()

In [101]:
#training model
model.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [104]:
model.score(x_test,y_test)

0.7175572519083969