In [2]:
import pandas as pd
from sklearn.naive_bayes import GaussianNB

In [3]:
#loading csv
df=pd.read_csv('C://Users//Bhavesh//titanic.csv')
df.head()

   Passengerid   Age     Fare  Sex  survived
0            1  22.0   7.2500    0         0
1            2  38.0  71.2833    1         1
2            3  26.0   7.9250    1         1
3            4  35.0  53.1000    1         1
4            5  35.0   8.0500    0         0

In [39]:
inputs=df[['Age','Fare','Sex']]
target=df.survived

In [40]:
inputs.head()

    Age     Fare  Sex
0  22.0   7.2500    0
1  38.0  71.2833    1
2  26.0   7.9250    1
3  35.0  53.1000    1
4  35.0   8.0500    0

In [41]:
#finding any null columns
inputs.columns[inputs.isna().any()]

Index([], dtype='object')

In [42]:
#train test split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(inputs,target)

In [43]:
#calling navie bayes as function 
model=GaussianNB()

In [44]:
#fitting model
model.fit(x_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [45]:
model.score(x_test,y_test)

0.7347560975609756