In [3]:
import pandas as pd
df=pd.read_csv('C://Users//Bhavesh//airbnb_price_list.csv')
df.head()

     id                                              name  ...  calculated_host_listings_count availability_365
0  2539                Clean & quiet apt home by the park  ...                               6              365
1  2595                             Skylit Midtown Castle  ...                               2              355
2  3647               THE VILLAGE OF HARLEM....NEW YORK !  ...                               1              365
3  3831                   Cozy Entire Floor of Brownstone  ...                               1              194
4  5022  Entire Apt: Spacious Studio/Loft by central park  ...                               1                0

[5 rows x 16 columns]

In [7]:
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [11]:
df1=df.drop(['last_review','reviews_per_month'],axis='columns')

In [16]:
df1.shape

(48895, 14)

In [17]:
df1.isnull().sum()

id                                 0
name                              16
host_id                            0
host_name                         21
neighbourhood_group                0
neighbourhood                      0
latitude                           0
longitude                          0
room_type                          0
price                              0
minimum_nights                     0
number_of_reviews                  0
calculated_host_listings_count     0
availability_365                   0
dtype: int64

In [19]:
df2=df1.dropna()

In [21]:
df2.isnull().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [30]:
df2['price_per_night']=df2['price']/df2['minimum_nights']
df2.head()

C:\Users\Bhavesh\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

     id                                              name  ...  availability_365 price_per_night
0  2539                Clean & quiet apt home by the park  ...               365           149.0
1  2595                             Skylit Midtown Castle  ...               355           225.0
2  3647               THE VILLAGE OF HARLEM....NEW YORK !  ...               365            50.0
3  3831                   Cozy Entire Floor of Brownstone  ...               194            89.0
4  5022  Entire Apt: Spacious Studio/Loft by central park  ...                 0             8.0

[5 rows x 15 columns]

In [31]:
df2.describe()

                 id       host_id      latitude  ...  calculated_host_listings_count  availability_365  price_per_night
count  4.885800e+04  4.885800e+04  48858.000000  ...                    48858.000000      48858.000000     48858.000000
mean   1.902335e+07  6.763169e+07     40.728941  ...                        7.148369        112.801425        70.169805
std    1.098289e+07  7.862389e+07      0.054528  ...                       32.964600        131.610962       157.667627
min    2.539000e+03  2.438000e+03     40.499790  ...                        1.000000          0.000000         0.000000
25%    9.475980e+06  7.818669e+06     40.690090  ...                        1.000000          0.000000        20.000000
50%    1.969114e+07  3.079133e+07     40.723070  ...                        1.000000         45.000000        44.500000
75%    2.915765e+07  1.074344e+08     40.763107  ...                        2.000000        227.000000        81.333333
max    3.648724e+07  2.743213e+08     40.913060  ...                      327.000000        365.000000      8000.000000

[8 rows x 10 columns]

In [38]:
len(df2[df2['price_per_night']>0])

48858

In [39]:
df3=df2[df2['price_per_night']>0]

In [40]:
len(df3)

48847

In [51]:
max_thresold=df3['price_per_night'].quantile(.99)
max_thresold

443.0

In [79]:
min_thresold=df3['price_per_night'].quantile(.111)
min_thresold

6.785714285714285

In [95]:
len(df3[df3['price_per_night']>=max_thresold])
#len(df3[df3['price_per_night']<=min_thresold])

490

In [100]:
len(df3[(df3['price_per_night'] > min_thresold)& (df3['price_per_night']<max_thresold)])

42937

In [96]:
df3

48847

In [97]:
48847-5910

42937

In [105]:
df3[df3['price_per_night']<=max_thresold].head(50)

       id                                               name  ...  availability_365 price_per_night
0    2539                 Clean & quiet apt home by the park  ...               365      149.000000
1    2595                              Skylit Midtown Castle  ...               355      225.000000
2    3647                THE VILLAGE OF HARLEM....NEW YORK !  ...               365       50.000000
3    3831                    Cozy Entire Floor of Brownstone  ...               194       89.000000
4    5022   Entire Apt: Spacious Studio/Loft by central park  ...                 0        8.000000
5    5099          Large Cozy 1 BR Apartment In Midtown East  ...               129       66.666667
6    5121                                    BlissArtsSpace!  ...                 0        1.333333
7    5178                   Large Furnished Room Near B'way   ...               220       39.500000
8    5203                 Cozy Clean Guest Room - Family Apt  ...                 0       39.500000
9    5238                 Cute & Cozy Lower East Side 1 bdrm  ...               188      150.000000
10   5295                   Beautiful 1br on Upper West Side  ...                 6       27.000000
11   5441                    Central Manhattan/near Broadway  ...                39       42.500000
12   5803     Lovely Room 1, Garden, Best Area, Legal rental  ...               314       22.250000
13   6021   Wonderful Guest Bedroom in Manhattan for SINGLES  ...               333       42.500000
14   6090                      West Village Nest - Superhost  ...                 0        1.333333
15   6848                   Only 2 stops to Manhattan studio  ...                46       70.000000
16   7097                  Perfect for Your Parents + Garden  ...               321      107.500000
17   7322                                    Chelsea Perfect  ...                12      140.000000
18   7726    Hip Historic Brownstone Apartment with Backyard  ...                21       33.000000
19   7750                  Huge 2 BR Upper East  Cental Park  ...               249       27.142857
20   7801                   Sweet and Spacious Brooklyn Loft  ...                 0       99.666667
21   8024                     CBG CtyBGd HelpsHaiti rm#1:1-4  ...               347       65.000000
22   8025                           CBG Helps Haiti Room#2.5  ...               364       80.000000
23   8110                              CBG Helps Haiti Rm #2  ...               304       55.000000
24   8490             MAISON DES SIRENES1,bohemian apartment  ...               233       60.000000
25   8505                 Sunny Bedroom Across Prospect Park  ...                85       60.000000
26   8700  Magnifique Suite au N de Manhattan - vue Cloitres  ...                 0       20.000000
27   9357                               Midtown Pied-a-terre  ...                75       15.000000
28   9518       SPACIOUS, LOVELY FURNISHED MANHATTAN BEDROOM  ...               311       14.666667
29   9657                   Modern 1 BR / NYC / EAST VILLAGE  ...                67       12.857143
30   9668                              front room/double bed  ...               355       16.666667
31   9704                Spacious 1 bedroom in luxe building  ...               255       26.000000
32   9782                  Loft in Williamsburg Area w/ Roof  ...               284       13.750000
33   9783                                back room/bunk beds  ...               359       16.666667
34  10452                              Large B&B Style rooms  ...               269       70.000000
35  10962    Lovely room 2 & garden; Best area, Legal rental  ...               340       22.250000
36  11452                        Clean and Quiet in Brooklyn  ...               365        0.583333
37  11708                          Cute apt in artist's home  ...                22       42.500000
38  11943                          Country space in the city  ...               365      150.000000
39  12048                LowerEastSide apt share shortterm 1  ...               188       40.000000
40  12192                                ENJOY Downtown NYC!  ...                96       34.000000
41  12299                Beautiful Sunny Park Slope Brooklyn  ...               345       40.000000
42  12303                  1bdr w private bath. in lofty apt  ...               311       17.142857
43  12318                                  West Side Retreat  ...               273       33.750000
44  12343                                 BEST BET IN HARLEM  ...               309       21.428571
45  12627  Entire apartment in central Brooklyn neighborh...  ...                95        5.172414
46  12937  1 Stop fr. Manhattan! Private Suite,Landmark B...  ...               215       43.333333
47  12940                 Charming Brownstone 3 - Near PRATT  ...               265       15.714286
48  13050                          bright and stylish duplex  ...                 0       38.333333
49  13394                            Fort Greene brownstone   ...               192       26.666667

[50 rows x 15 columns]